.container {
  display: grid;
  grid-template-columns: repeat(5,140px);
  grid-template-rows: repeat(12,50px);

}

#navbar {
grid-column-start:1;
grid-column-end:6;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-column-start:1;
  grid-row-start:2;
  grid-row-end:10;

}

#title {
grid-column-start:2;
grid-column-end:6;
}


#content {
  grid-row-start:3;
  grid-row-end:10;
  grid-column-start:2;
  grid-column-end:6;

}

#footer {
  grid-column-start:1;
  grid-column-end:6;

}
